/* body{
    background-color:#dc392d;
}
.main-border{
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #dc392d;
} */

/* 
header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}   
header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

a{
    text-decoration: none;
    color: black;
} */